name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install rust toolchain
        run: rustup toolchain install --profile minimal

      - name: Add rust components
        run: rustup component add rustfmt rust-src clippy

      #- name: Check that Cargo.lock is up to date.
      #  run: cargo update --workspace --locked

      - name: Build
        run: cargo build

      - name: Clippy
        run: cargo clippy

      - name: Test
        run: cargo test

